In [2]:
from splinter import Browser
from bs4 import BeautifulSoup as bs

import pandas as pd

In [3]:
# Execute Chromedriver 
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
# URL of headline page to be scraped
url_1 = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
# Browse headline URL
browser.visit(url_1)

# Assign web content (html) to variable 
html_1 =  browser.html
# Create BeautifulSoup object
soup_1 = bs(html_1, "html.parser")

# Parse for headline
news_title = soup_1.find_all('div', class_='content_title')[0].a.text
# Parse for description
descriptions =  soup_1.find_all('div', class_='rollover_description_inner')[0].text
# Parse for news page url (contains featured image and link)
partial_news_url = soup_1.find_all('div', class_='content_title')[0].a.get('href')
news_url = "https://mars.nasa.gov" + partial_news_url


# Scrap for featured image from news page
# Browse news page URL
browser.visit(news_url)

# Assign web content (html) to variable
html_news = browser.html
# Create BeautifulSoup object
soup_news = bs(html_news, "html.parser")

# Parse for image
image_url = "https://mars.nasa.gov" + soup_news.find('img', id='main_image')['src']

In [5]:
print(news_title)
print(descriptions)
print(image_url)

NASA's InSight Places First Instrument on Mars
In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.
https://mars.nasa.gov/system/news_items/main_images/8402_PIA22977_SEIS_deploy_IDC_calibrated-web.gif

In [22]:
# Execute Chromedriver 
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# URL of page to be scraped
url_weather = "https://twitter.com/marswxreport?lang=en"
# Browse the page
browser.visit(url_weather)

# Convert web content to html
html_weather = browser.html
# Create Beautiful Soup Object
soup_weather = bs(html_weather, "html5lib")

# Parse for weather info
mars_weather = soup_weather.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text.strip("55pic.twitter.com/Or8q1l3tka")

In [23]:
mars_weather

'Sol 2288 (2019-01-12), high -7C/19F, low -68C/-90F, pressure at 8.23 hPa, daylight 06:45-18:'

In [29]:
# URL of page to be scraped
url_facts = "https://space-facts.com/mars/"

# Parse for tables from page using pandas (result is DataFrame)
mars_facts = pd.read_html(url_facts)[0]

In [34]:
# Rename columns
mars_facts.columns=[" ", "Value"]
mars_facts.set_index([" "], inplace=True)
# Convert reulting DataFrame to html
mars_facts_html = mars_facts.to_html().replace('\n', '')

In [35]:
mars_facts

                                              Value

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [36]:
mars_facts_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [25]:
#  Mars hemisphere images URLs 
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://mars.nasa.gov/system/resources/detail_files/6453_mars-globe-valles-marineris-enhanced-full2.jpg"},
    {"title": "Cerberus Hemisphere", "img_url": "https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_valles_marineris_enhanced_f840.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_schiaparelli_enhanced_f840.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_syrtis_major_enhanced_f840.jpg"}
    ]

In [26]:
hemisphere_image_urls[0]["img_url"]

'https://mars.nasa.gov/system/resources/detail_files/6453_mars-globe-valles-marineris-enhanced-full2.jpg'

In [27]:
hemisphere_image_urls[0]["title"]

'Valles Marineris Hemisphere'

In [35]:
print(x)

5